<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Event Manager - Events</title>
</head>
<body>
<div class="container my-2" align="center">
    <h3>Event List</h3>
    <table style="width: 80%" border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Name</th>
            <th>Site</th>
            <th>Events count</th>
            <th>Manager</th>
            <!--th>Actions</th-->
        </tr>
        </thead>
        <tbody>
            <tr th:each="host:${hosts}">
                <td th:text="${host.name}"></td>
                <td th:text="${host.site}"></td>
                <td th:text="${host?.events?.size() ?: '0'}"></td>      <!--Se rompe al darle transient la lista. Pero si no la quito me da error al crear los json. Si soluciono lo de gson funcionará correctamente.-->
                <td th:text="${host.manager.name}"></td>

                <!--td>
                    <a th:href="@{/view/update/{id}(id=${host.id})}" class="btn btn-primary"> Update</a>
                    <a th:href="@{/view/delete/{id}(id=${host.id})}" class="btn btn-primary"> Delete</a>
                </td-->
            </tr>
        </tbody>
    </table>
    <a th:href="@{/view}" class="btn btn-primary">Home</a>
</div>
</body>
</html>