<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Event Manager - Home</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Event Manager</h1>
            <p>Spring Boot Framework Practice</p>
        </div>
        <p>Event Application</p>
        <p>User event manager</p>
        <a th:href="@{/view/events}" class="btn btn-primary">Events list</a>
        <a th:href="@{/view/hosts/all}" class="btn btn-primary">Hosts list</a>
    </div>

</body>
</html>